<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <title>Mren</title>
</head>
<body>
    {{>navbar}}
    <div class="about-section">
  <h1>About the Isaac Newton</h1>
  <p> D.O.B : ( 25 Dec 1642 – 20 Mar 1726 )</p>
  <p>This article is about the scientist. For the agriculturalist .</p>
</div>

<div id="main-div">
  <div class="my-2">
    <h1 class="text-center "style="font-weight: bold">Newton</h1>
  </div>
  <div class="container-fluid mb-5">
    <div class="row">
      <div class="col-10 col-md-2 mx-auto">
        <img src="images/newton.webp" alt="newton" >
        <h3 class="text-center" style="font-weight: bold">( 1642 – 1726 )</h3>
      </div>
     
    </div>
  </div>
  <div class="introduction">
    <div class="container-fluid">
      <div class="row">
        <div class="col-10 mx-auto">
    <h3 class="my-3">* Sir Isaac Newton PRS (25 December 1642 – 20 March 1726/27[a]) was an English mathematician, physicist, astronomer, theologian, and author
       (described in his own day as a "natural philosopher") who is widely recognised as one of the most influential scientists of all time and as
        a key figure in the scientific revolution. His book Philosophiæ Naturalis Principia Mathematica (Mathematical Principles of Natural Philosophy),
         first published in 1687, established classical mechanics. Newton also made seminal contributions to optics, and shares credit with Gottfried 
         Wilhelm Leibniz for developing the infinitesimal calculus.
         </h3>
    <h3 class="my-3">* In Principia, Newton formulated the laws of motion and universal gravitation that formed the dominant scientific viewpoint until
       it was superseded by the theory of relativity. Newton used his mathematical description of gravity to derive Kepler's laws of planetary
        motion, account for tides, the trajectories of comets, the precession of the equinoxes and other phenomena, eradicating doubt about the
         Solar System's heliocentricity. He demonstrated that the motion of objects on Earth and celestial bodies could be accounted for by the 
         same principles. Newton's inference that the Earth is an oblate spheroid was later confirmed by the geodetic measurements of Maupertuis, 
         La Condamine, and others, convincing most European scientists of the superiority of Newtonian mechanics over earlier systems.
         </h3>
     <h3 class="my-3">
       * Newton built the first practical reflecting telescope and developed a sophisticated theory of colour based on the observation that a prism 
       separates white light into the colours of the visible spectrum. His work on light was collected in his highly influential book Opticks,
        published in 1704. He also formulated an empirical law of cooling, made the first theoretical calculation of the speed of sound, and introduced
         the notion of a Newtonian fluid. In addition to his work on calculus, as a mathematician Newton contributed to the study of power series, generalised
          the binomial theorem to non-integer exponents, developed a method for approximating the roots of a function, and classified most of the cubic plane 
          curves.
     </h3>    
   </div>
   </div>
   </div>
   </div>

  <div class="mathmatics">
    <div class="container-fluid my-4">
      <div class="row">
        <div class="col-10 mx-auto">
          <h1 style="font-weight: bold">Mathematics</h1>
           <div class="col-10 col-md-4 mx-auto my-3">
           <img src="images/newton-math.jpg" alt="newton" >
           </div>
            <h3 class="my-3">* Newton's work has been said "to distinctly advance every branch of mathematics then studied."[23] His work on the subject 
        usually referred to as fluxions or calculus, seen in a manuscript of October 1666, is now published among Newton's mathematical 
        papers.[24] The author of the manuscript De analysi per aequationes numero terminorum infinitas, sent by Isaac Barrow to John 
        Collins in June 1669, was identified by Barrow in a letter sent to Collins in August of that year as "[...] of an extraordinary 
        genius and proficiency in these things.
        </h3>
        <h3 class="my-3">
          * Newton later became involved in a dispute with Leibniz over priority in the development of calculus (the Leibniz–Newton calculus 
          controversy). Most modern historians believe that Newton and Leibniz developed calculus independently, although with very different
           mathematical notations. Occasionally it has been suggested that Newton published almost nothing about it until 1693, and did not give
            a full account until 1704, while Leibniz began publishing a full account of his methods in 1684. Leibniz's notation and "differential
             Method", nowadays recognised as much more convenient notations, were adopted by continental European mathematicians, and after 1820 
             or so, also by British mathematicians
        </h3>
        </div>
      </div>
    </div>
   </div>
   

</div>

<footer>
  <h3 style="color: white; text-align:center ">Privacy Policy | Terms and Conditions | About Isaac Newton </h3>
  <p>&copy 2020 Isaac Newton . All Right Reserved</p>
</footer>
</body>
</head>