<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    <title>I-Newton</title>
</head>

<body>
    {{>navbar}}

    <!-- main header  -->
    <div class="main_header">

        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Isaac Newton nav</p>
                        <h1>Get the latest information about <span class="txt_clr">Isaac Newton</span> Click Here</h1>
                        <a href="./about"><button>Click Me</button></a>
                    </div>

                    <div class="col-md-6 col-10 main_header_right home_header_right">
                        
                           
                                <div class="carousel-item active">
                                    <img class=" "  src="images/newton.webp" alt="First slide" height="100%" width="80%" style="border-radius: 40%;">
                                </div>
                                
                        
                    
                </div>

            </div>
        </div>
</div>
    </div>
    <!-- footer -->

    <footer>
        <h3 style="color: white; text-align:center ">Privacy Policy | Terms and Conditions | About Isaac Newton </h3>
        <p>&copy 2020 Isaac Newton . All Right Reserved</p>
    </footer>
</body>

</html>